<div class="row">
  <div id="message-section" class='col-md-6' style='font-size: 16px; color:red'></div>
  <br><br>
</div>
<div class="row">
  <div class='col-md-6' style='font-size: 22px;'>

    <%= link_to(image_tag(@card.image.thumb.url, alt: 'Image'),
                          @card.image.url, target: '_blank') if @card.image? %>
  </div>
</div>
<br>
<div class="row">
  <div class='col-md-6 text-center' style='font-size: 22px;'>
    <%= @card.original_text %>
  </div>
</div>
<div class="row">
  <div class='col-md-6 text-center'>
    <%= simple_form_for :home, url: '/check', method: :post, remote: true do |f| %>
        <br>
        <%= f.hidden_field :id, value: @card.id %>
        <%= f.input :translated_text, label: t(:enter_translation), autofocus: true %>
        <%= f.button :submit, t(:check_it), class: 'btn btn-danger' %>
        <br><br>
    <% end %>
  </div>
</div>
