<div class='col-md-4 col-md-offset-4 text-center'>
  <h2>Add a Card</h2>

  <%= simple_form_for @card, url: cards_path do |f| %>
    <%= f.input :original_text, label: 'Original text' %>
    <%= f.input :translated_text, label: 'Translated text' %>
    <label>Select File</label>
    <%= f.file_field :image, label: 'Image' %>
    <%= f.hidden_field :image_cache %>
    <div class="form-group">
      <label class="control-label"  >image URL</label>
      <%= f.text_field :remote_image_url, class: "form-control input-sm" %>
    </div>

    <%= f.button :submit, 'Create Card', class: 'btn btn-success btn-block' %>
  <% end %>

</div>
