<div class='col-md-4 col-md-offset-4 text-center'>
  <h2>Add a Card</h2>

  <%= simple_form_for @card, url: cards_path do |f| %>
    <%= f.input :original_text, label: 'Original text' %>
    <%= f.input :translated_text, label: 'Translated text' %>
    <%= f.input :deck_id, collection: @decks, label: 'Choose a deck or create new one', placeholder: 'First Deck'%>
    <%= f.input :image, as: :file%>
    <%= f.hidden_field :image_cache %>
    <%= f.input :remote_image_url, label: 'Image URL' %>

    <%= f.button :submit, 'Create Card', class: 'btn btn-success btn-block' %>
  <% end %>

</div>
