<h2><%= t('cards.your_card') %></h2>

  <p>
    <%= image_tag(@card.image.thumb.url, alt: 'Image') if @card.image? %>
  </p>

  <p>
    <strong><%= t('cards.original_text') %>:</strong>
    <%= @card.original_text %>
  </p>

  <p>
    <strong><%= t('cards.translated_text') %>:</strong>
    <%= @card.translated_text %>
  </p>

  <p>
    <strong><%= t('cards.review_date') %>:</strong>
    <%= @card.review_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong><%= t('decks.deck_name') %>:</strong>
    <%= @card.deck.name %>
  </p>
