<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-inverse'>
      <div class='container'>
        <div class="row">
          <div class='col-md-8 col-md-offset-2'>
            <div class='navbar-header'>
              <%= link_to 'Flashcards', root_path, class: 'navbar-brand' %>
            </div>
            <div id='navbar'>
              <ul class='nav navbar-nav'>
                <% if current_user %>
                  <li><%= link_to 'All cards', cards_path(@cards) %></li>
                  <li><%= link_to 'Add a card', new_card_path %></li>
                  <li><%= link_to 'Choose a deck', decks_path(@decks) %></li>
                  <li><%= link_to 'Add a deck', new_deck_path %></li>
                <% end %>
              </ul>
                <ul class='nav navbar-nav pull-right'>
                  <% if current_user %>
                    <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
                    <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
                  <% else %>
                    <%= render "partials/links" %>
                  <% end %>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class='container'>
      <div class='col-md-9 col-sm-offset-3' style='font-size: 36px;'>
        Learn English with flashcards easily!
      </div><br><br>
    </div>
    <br>
    <div class='container'>
      <% flash.each do |key, value| %>
          <div class='col-md-4 col-md-offset-4 text-center alert alert-<%= key %>'>
            <%= value %>
          </div>
        <% end %>

        <%= yield %>

    </div>
  </body>
</html>
